#container{
    margin-top: 25px;
    text-align: center;
    background-color: #93CFCA;
}
#v-191B50 {
    background-color:  #191B50;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    border-style: none;
}

#v-353C7B {
    background-color: #353C7B;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    border-style: none;
}
#v-5D6398 {
    background-color:#5D6398;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    border-style: none;
}
#v-8682B5 {
    background-color:#8682B5;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    border-style: none;
}
#v-181E22 {
    background-color:#181E22;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    border-style: none;
}


#v-FEFEFE {
    background-color: #FEFEFE;
    text-align: center;
    border-radius: 5px;
    border-style: none;
}
#v-FE7372 {
    background-color: #FE7372;
    text-align: center;
    border-radius: 5px;
    border-style: none;
}
#v-F74C4C {
    background-color:#F74C4C;
    text-align: center;
    border-radius: 5px;
    border-style: none;
}
#v-A83635 {
    background-color:#A83635;
    text-align: center;
    border-radius: 5px;
    border-style: none;
}
#v-4CF74D {
    background-color:#4CF74D;
    text-align: center;
    border-radius: 5px;
    border-style: none;
}